* { box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #23424A;
    color: white;
    padding: 2em;

}

.title-container {
    width: 45%;
    margin: 4em 4em;

}

.title {
    font-weight: 900;
}

.subtitle {
    font-weight: 200;
    font-size: medium;
}

.btn {
    background-color: #38CFD9;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 10px 0 10px 0;
}