*, *::before, *::after { box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.container {
    /*  width: 45%;
     margin: 4em 4em; */
     width: 80%;
     max-width: 1000px;
     padding: 10px;
     margin: 0 auto;
 }

 .row {
    display: flex;
    gap: 1em;
    padding: 1em;
 }

 .row > h2 {
    font-size: 36px;
 }

 .col + .col {
    text-align: center;
 }

 p {
    font-weight: 300;
 }

.hero {
    background-color: #23424A;
    color: white;
    padding: 100px 0;
   /*  padding: 2em; */
}

.hero p {
    margin-bottom: 3em;
}


h1 {
    font-size: 3rem;
}

.hero__text {
    width: 60%;
}


/* .title {
    font-weight: 900;
}
 */
/* .subtitle {
    font-weight: 200;
    font-size: medium;
} */

.btn {
    display: inline-block;
    background-color: #38CFD9;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 900;
    border: none;
    border-radius: 25px;
    padding: .75em 2em;
}
.btn:hover,
.btn:focus {
    opacity: .75;
    cursor: pointer;
}

.col > p {
    text-align: center;
}

.col > h2 {
    text-align: center;
}

.two-col {
    background-color: #136C72;
    color: white;
}

.three-col h2 {
    color: #87629a
}

.three-col {
    padding: 3em 0;
}